<md-content>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <h2 flex class='white-text'>Angular Seed</h2>
      <md-button class="md-icon-button" aria-label="Favorite">
        <i class="material-icons">favorite</i>
      </md-button>
      <md-button class="md-icon-button" aria-label="More" ng-click="onInfoClicked()">
        <i class="material-icons">info_outline</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-list class="p-0" flex>
    <md-list-item class="md-2-line" ng-repeat="homeItem in homeList" ng-click="onListItemClicked(homeItem)">
      <i class="material-icons md-avatar">account_circle</i>
      <div class="md-list-item-text">
        <h3>{{homeItem.name}}</h3>
        <p>{{homeItem.description}}</p>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</md-content>
