// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Badges
//  3. Buttons
//  4. Cards
//  5. Collapsible
//  6. Chips
//  7. Date Picker
//  8. Dropdown
//  10. Forms
//  11. Global
//  12. Grid
//  13. Navigation Bar
//  14. Side Navigation
//  15. Photo Slider
//  16. Spinners | Loaders
//  17. Tabs
//  18. Tables
//  19. Toasts
//  20. Typography
//  21. Footer
//  22. Flow Text
//  23. Collections
//  24. Progress Bar
// 1. Colors
// ==========================================================================
//$white: #ffffff !important;
$primaryColor: #ffca28 !default;
$primaryTextColor: #5d5d5d !default;
$secondaryColor: #607d8b !default;
$secondaryTextColor: #ffffff !default;
$successColor: #4CAF50 !default;
$successTextColor: #ffffff !default;
$errorColor: #F44336 !default;
$errorTextColor: #ffffff !default;
$warningColor: #FB8C00 !default;
$warningTextColor: #ffffff !default;
$buttonColor: #ff5722 !default;
$buttonTextColor: #ffffff !default;
$bodyColor: #EEF1F5 !default;
$h2-fontSize: 18px !default;


// ==========================================================================
